<!DOCTYPE html>
<html>
  <head>
    <title>PokemonMarket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
      <h1>Recipe Recipe</h1>
      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Types", types_path %></li>
          <li><%= link_to "Contact Us", contactus_path %></li>
          <li><%= link_to "About Us", about_path %></li>
        </ul>
      </nav>
    </header>

    <div class="searchbar">
      <%= form_tag(search_results_path, method: "get") do %>
        <%= label_tag(:q, "Search for:") %>
        <%= text_field_tag(:q, params[:q]) %>

        <%= label_tag(:type, "Filter by Type:") %>
        <%= select_tag(:type, options_for_select(Type.all.collect { |c| [c.name, c.id] }, params[:type]), include_blank: true) %>

        <%= check_box_tag(:sale_percentage, 'greater_than_zero', params[:sale_percentage] == 'greater_than_zero') %>
        <%= label_tag(:sale_percentage, "Sale") %>

        <%= check_box_tag(:created_at, 'yes', params[:created_at] == 'yes') %>
        <%= label_tag(:created_at, "Recently Added") %>

        <%= check_box_tag(:updated_at, 'yes', params[:updated_at] == 'yes') %>
        <%= label_tag(:updated_at, "Recently Updated") %>

        <%= submit_tag("Search") %>
      <% end %>
    </div>




    <%= yield %>
  </body>
</html>