<!DOCTYPE html>
<html>
  <head>
    <title>PokemonMarket</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header>
      <h1>Recipe Recipe</h1>
      <nav>
        <ul>
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Types", types_path %></li>
          <li><%= link_to "Contact Us", contactus_path %></li>
          <li><%= link_to "About Us", about_path %></li>
        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
